<a href="https://colab.research.google.com/github/areiasfi/Coursera_Capstone/blob/main/Segmenting_and_Clustering_Neighborhoods_in_Toronto_build_a_dataframe_latlong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment to explore and cluster the neighborhoods in Toronto.**

Import libraries

In [1]:
import pandas as pd
import numpy as np

Scrape Wikipedia page using pandas

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(link)
#Creating dataframe of the asked table
table = tables[0]

Cleaning the data:

*   ignore cells with Not assigned Borough
*   combine neighborhoods with the same postal code area
*   If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [3]:
#Ignore cells with a borough that is Not assigned.
table = table[table['Borough'] != 'Not assigned'].reset_index(drop=True)

#combine neighborhoods with the same postal code area
table = table.groupby('Postal Code').agg({'Borough':'first', 
                             'Neighbourhood': ', '.join}).reset_index()

#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
table[table['Neighbourhood'] != 'Not assigned'].replace(table['Neighbourhood'],table['Borough'], regex = True)

table.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

 Print the number of rows of your dataframe.

In [4]:
table.shape

(103, 3)

Get the latitude and the longitude coordinates of each neighborhood.

In [5]:
url = 'https://raw.githubusercontent.com/areiasfi/Coursera_Capstone/main/Geospatial_Coordinates.csv'
latlong = pd.read_csv(url)
latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Add geographical coordinates to the neighborhoods Dataframe

In [6]:
torNeighb = table

cols_to_use = latlong.columns.difference(torNeighb.columns)


torNeighb = pd.merge(torNeighb, latlong[cols_to_use], left_index=True, right_index=True, how='outer')
torNeighb.head()

  Postal Code      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]