<a href="https://colab.research.google.com/github/areiasfi/Coursera_Capstone/blob/main/Segmenting_and_Clustering_Neighborhoods_in_Toronto_build_a_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment to explore and cluster the neighborhoods in Toronto.**

Import libraries

In [1]:
import pandas as pd
import numpy as np

Scrape Wikipedia page using pandas

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(link)
#Creating dataframe of the asked table
table = tables[0]

Cleaning the data:

*   ignore cells with Not assigned Borough
*   combine neighborhoods with the same postal code area
*   If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [3]:
#Ignore cells with a borough that is Not assigned.
table = table[table['Borough'] != 'Not assigned'].reset_index(drop=True)

#combine neighborhoods with the same postal code area
table = table.groupby('Postal Code').agg({'Borough':'first', 
                             'Neighbourhood': ', '.join}).reset_index()

#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
table['Neighbourhood'] = table[table['Neighbourhood'] != 'Not assigned'].replace(table['Neighbourhood'],table['Borough'], regex = True)

table.head()

  Postal Code      Borough Neighbourhood
0         M1B  Scarborough           M1B
1         M1C  Scarborough           M1C
2         M1E  Scarborough           M1E
3         M1G  Scarborough           M1G
4         M1H  Scarborough           M1H

 Print the number of rows of your dataframe.

In [4]:
table.shape

(103, 3)